OUI/MA-L                                                    Organization                                 
company_id                                                  Organization                                 
                                                            Address                                      

28-6F-B9   (hex)		Nokia Shanghai Bell Co., Ltd.
286FB9     (base 16)		Nokia Shanghai Bell Co., Ltd.
				No.388 Ning Qiao Road,Jin Qiao Pudong Shanghai
				Shanghai     201206
				CN

BC-24-11   (hex)		Proxmox Server Solutions GmbH
BC2411     (base 16)		Proxmox Server Solutions GmbH
				Braeuhausgasse 37
				Vienna  Vienna  1050
				AT

B4-E3-D0   (hex)		LG Electronics
B4E3D0     (base 16)		LG Electronics
				Lot CN02, Trang Due Industrial Park, Le Loi commune, An Duong District
				Hai Phong  Select State  04400
				VN
